4.6 chỉ mục phân cấp

In [1]:
import pandas as pd 
#Tuples đại diện cho tỉnh thành phố - Năm tương ứng 
index=[('Hà Nội',2015),('Hà Nội',2020), 
       ('Nam Định',2015),('Nam Định',2020), 
       ('Thanh Hóa',2015),('Thanh Hóa',2020), 
       ('Đà Nẵng',2015),('Đà Nẵng',2020), 
       ('Hồ Chí Minh',2015),('Hồ Chí Minh',2020)] 
data=[ 7216000, 8246540, 
       1850600, 1780330, 
       3514200, 3664940, 
       1028800, 1169480, 
       8146300, 9227600] 
vn_pop = pd.Series(data, index=index) 
vn_pop

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

truy vấn dữ liệu tuef data frame

ban đầu là series sau chuyển thành multi

ta muốn lấy dân số Hà Nội(2015,
 2020)vàNamĐịnh(2015)

In [2]:
vn_pop[('Hà Nội',2015):('Nam Định',2015)]

(Hà Nội, 2015)      7216000
(Hà Nội, 2020)      8246540
(Nam Định, 2015)    1850600
dtype: int64

Vớicácyêucầuphứctạphơn,chẳnghạnlấysốliệudânsốcủatấtcảcáctỉnhthành
 phốtrongnăm2020thìgiảiquyếtnhưthếnào

In [3]:
vn_pop[[i for i in vn_pop.index if i[1]==2020]]

(Hà Nội, 2020)         8246540
(Nam Định, 2020)       1780330
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2020)    9227600
dtype: int64

truy vấn cỡ lớn vs lượng lớn dữ liệu

tạo multilnindex từ danh sách tuples

In [4]:
idx=pd.MultiIndex.from_tuples(index, 
names=['Tỉnh/TP','Năm']) 
idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

4.6.1.5 reindex

In [5]:
vn_pop_mul = vn_pop.reindex(idx) 
vn_pop_mul

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

 Để lấy lấy số liệu toàn bộ các tỉnh/TP về số liệu dân số năm 2020

In [7]:
vn_pop_mul[:,2020]

Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

ChuyểnSeriesthànhDataFramevn_pop_df ( DÙNG HÀM UNSTACK)

In [8]:
vn_pop_df = vn_pop_mul.unstack() 
vn_pop_df

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

sử dụng hàm pd.stack() để dataframe thành series có chỉ mục đa cấp (multiindex)

In [9]:
vn_pop.unstack()

ValueError: index must be a MultiIndex to unstack, <class 'pandas.core.indexes.base.Index'> was passed

In [12]:
type(vn_pop_df.stack())

pandas.core.series.Series

mở rộng chiều

In [13]:
import pandas as pd

# --- PHẦN 1: TÁI TẠO DỮ LIỆU NỀN (vn_pop_df) ---
# (Dựa trên kết quả hiển thị ở dòng trên cùng trong ảnh của bạn)
data_pop = {
    2015: [7216000, 8146300, 1850600, 3514200, 1028800],
    2020: [8246540, 9227600, 1780330, 3664940, 1169480]
}
index_cities = ["Hà Nội", "Hồ Chí Minh", "Nam Định", "Thanh Hóa", "Đà Nẵng"]
vn_pop_df = pd.DataFrame(data_pop, index=index_cities)

# --- PHẦN 2: CODE TRONG HÌNH ẢNH ---

# 1. (Giá trị minh họa hỗ trợ trình bày)
co_viec_2015 = [3752320, 1080750, 1512340, 512340, 492000]
co_viec_2020 = [4042454, 1011049, 1600000, 600000, 520000]

vn_pop_df_expanded = pd.DataFrame({
    ('Tổng dân số', 2015): vn_pop_df[2015],
    ('Tổng dân số', 2020): vn_pop_df[2020],
    ('Có việc', 2015): co_viec_2015,
    ('Có việc', 2020): co_viec_2020,
}, index=vn_pop_df.index)

# 2. Tạo MultiIndex vn_pop_df_expanded.columns từ tuple
vn_pop_df_expanded.columns = pd.MultiIndex.from_tuples(
    vn_pop_df_expanded.columns, 
    names=['Chỉ tiêu', 'Năm']
)

vn_pop_df_expanded

Chỉ tiêu    Tổng dân số           Có việc
Năm                2015     2020     2015     2020
Hà Nội          7216000  8246540  3752320  4042454
Hồ Chí Minh     8146300  9227600  1080750  1011049
Nam Định        1850600  1780330  1512340  1600000
Thanh Hóa       3514200  3664940   512340   600000
Đà Nẵng         1028800  1169480   492000   520000

tạo multilndex cho hàng

In [14]:
import numpy as np
df = pd.DataFrame(np.random.rand(4,2), 
                  index=[['a','a','b','b'],[1,2, 1,2]], 
                  columns=['data1','data2']) 
 
df

        data1     data2
a 1  0.640752  0.982009
  2  0.208505  0.534230
b 1  0.643343  0.676830
  2  0.751018  0.439104

tạo multilndex chp mảng

In [15]:
idx_arr=[['a','a','b','b'],[1,2,1,2]]
idx_arr

[['a', 'a', 'b', 'b'], [1, 2, 1, 2]]

In [17]:
data = np.random.rand(4,3)
multi_index=pd.MultiIndex.from_arrays(idx_arr,  
                              names = ['Data1','Data2']) 
#Tạo DataFrame df. 
df=pd.DataFrame(data,index  = multi_index,          
                     columns=['Value1', 'Value2','Value3']) 
df

               Value1    Value2    Value3
Data1 Data2
a     1      0.174748  0.070660  0.075122
      2      0.004331  0.175727  0.234810
b     1      0.337293  0.832478  0.333666
      2      0.146382  0.466182  0.059186

tạo multi index cho hàng

 A={'a','b'}vàB={1,2,3}thì:
 A×B={('a',1),('a',2),('a',3),('b',1),('b',2),('b',3)}

In [ ]:
arr1 = ['a','b'] # cái này cho hàng
arr2 = [1, 2, 3] 
multi_idx=pd.MultiIndex.from_product([arr1,arr2], 
                         names=['key1','key2']) 
df = pd.DataFrame(np.random.randn(6,3),  
                       index = multi_idx, 
                       columns = ['Value1', 'Value2', 'Value3']) 
df

             Value1    Value2    Value3
key1 key2
a    1    -0.838802  1.143171 -0.928544
     2    -0.752502 -1.258361  0.783887
     3     0.365338  1.591234 -0.416115
b    1    -1.302696  0.118391  0.384561
     2    -0.183332 -0.752536  0.245239
     3     0.187206  0.595186 -2.304087

tạo multi index cho cột

In [24]:
import pandas as pd
import numpy as np

row_idx = pd.MultiIndex.from_product(
    [[2020, 2021, 2022], [1, 2, 3]],
    names=['Năm', 'Lần thi']
)

col_idx = pd.MultiIndex.from_product(
    [['Bình', 'Lan', 'Vân'], ['Toán', 'Lý', 'Hóa']],
    names=['Học sinh', 'Môn học']
)

data = np.random.randint(5, 10, (9, 9))

score = pd.DataFrame(data, index=row_idx, columns=col_idx)

score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          8  9   9    8  9   8    8  9   6
     2          6  6   5    6  8   8    7  9   9
     3          8  9   8    6  9   8    5  5   8
2021 1          9  8   6    9  6   8    6  7   5
     2          7  5   8    5  5   6    7  5   8
     3          7  9   7    6  8   6    5  9   5
2022 1          7  6   5    6  9   6    7  6   5
     2          8  6   7    9  9   7    7  8   6
     3          6  7   9    5  9   5    5  5   8

In [28]:
1 #Lập chỉ mục cả hàng và cột. Điểm Lý của Lan trong Lần 3 của năm 2022

# print("\n1.4. Điển Lý của Lan, Làn 3, năm 2022:")

print(score.loc[(2022, 3), ('Lan', 'Lý')])

9

In [32]:
index = pd.MultiIndex.from_product([['a','c','b'],[1,2,3]], 
                               names=['Index A','Index B']) 
data = pd.Series(np.random.randint(0,100,(9,)),index=index) 
data

Index A  Index B
a        1          90
         2          20
         3           5
c        1          21
         2          14
         3          40
b        1           7
         2          17
         3          47
dtype: int32

Vídụ4.6.4.3

In [33]:

data=data.sort_index() 
data['a':'b']

Index A  Index B
a        1          90
         2          20
         3           5
b        1           7
         2          17
         3          47
dtype: int32

 Ví dụ 4.6.4.4

In [38]:
print(vn_pop.index)
print(type(vn_pop.index))

Index([     ('Hà Nội', 2015),      ('Hà Nội', 2020),    ('Nam Định', 2015),
          ('Nam Định', 2020),   ('Thanh Hóa', 2015),   ('Thanh Hóa', 2020),
           ('Đà Nẵng', 2015),     ('Đà Nẵng', 2020), ('Hồ Chí Minh', 2015),
       ('Hồ Chí Minh', 2020)],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [39]:
vn_pop.index = pd.MultiIndex.from_tuples(vn_pop.index, names=['Tỉnh', 'Năm'])

In [40]:
print("Unstack level 0:\n", vn_pop.unstack(level=0))  # Tách theo 'Tỉnh'
print("\nUnstack level 1:\n", vn_pop.unstack(level=1))  # Tách theo 'Năm'

Unstack level 0:
 Tỉnh   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015  7216000      8146300   1850600    3514200  1028800
2020  8246540      9227600   1780330    3664940  1169480

Unstack level 1:
 Năm             2015     2020
Tỉnh
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

-----------------------------------------------

 4.6.5. Tính toán với MultiIndex.

In [42]:
score.groupby(level='Năm').mean()

Học sinh      Bình                           Lan                      \
Môn học       Toán        Lý       Hóa      Toán        Lý       Hóa
Năm
2020      7.333333  8.000000  7.333333  6.666667  8.666667  8.000000
2021      7.666667  7.333333  7.000000  6.666667  6.333333  6.666667
2022      7.000000  6.333333  7.000000  6.666667  9.000000  6.000000

Học sinh       Vân
Môn học       Toán        Lý       Hóa
Năm
2020      6.666667  7.666667  7.666667
2021      6.000000  7.000000  6.000000
2022      6.333333  6.333333  6.333333