4.7 kết hợp các dữ liệu trong pandas

In [1]:
import pandas as pd
sr1 = pd.Series(['D', 'H', 'K', 'T'], index=[1, 2, 3, 4])
sr2 = pd.Series(['K', 'T', 'C', 'N'], index=[5, 6, 7, 8])
pd.concat([sr1, sr2])

1    D
2    H
3    K
4    T
5    K
6    T
7    C
8    N
dtype: object

4712 nối 2 data frame axis

In [2]:
import pandas as pd
A = pd.DataFrame([['A0', 'B0'], ['A1', 'B1']], columns=['A', 'B'])
B = pd.DataFrame([['A2', 'B2'], ['A3', 'B3']], columns=['A', 'B'])
print('Nối A và B theo hàng (axis=0):')
display(pd.concat([A, B], axis=0))   # Nối theo hàng, bảo toàn chỉ mục

Nối A và B theo hàng (axis=0):

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [4]:
display(pd.concat([A, B], axis=1))   # Nối theo hàng, bảo toàn chỉ mục

    A   B   A   B
0  A0  B0  A2  B2
1  A1  B1  A3  B3

In [13]:
import pandas as pd

# 1. Khởi tạo dữ liệu
data = [[0, 1, 0, 1],
        [2, 1, 0, 1],
        [1, 0, 2, 0]]

# 2. Tạo DataFrame
# 'df' là tên biến thường dùng cho DataFrame
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])

# 3. Hiển thị DataFrame (Đây là kết quả [Out] 4 trong ảnh)
# print(df) 
#   A  B  C  D
# 0  0  1  0  1
# 1  2  1  0  1
# 2  1  0  2  0

# 4. Tính tổng theo cột (axis=0)
# Kết quả hiển thị A 3, B 2, C 2, D 2
result = df.sum(axis=0)

print(result)

A    3
B    2
C    2
D    2
dtype: int64

4713

4715

In [15]:
pd.concat([A,B], keys = ['Data A', 'Data B'])

           A   B
Data A 0  A0  B0
       1  A1  B1
Data B 0  A2  B2
       1  A3  B3

4.7.2  kết nối one to one

4.7.2.1

In [ ]:
import pandas as pd

# Ví dụ 4.7.2.1 — Ghép df1 và df2 theo cột trùng tên ('Nhân viên')

# DataFrame 1 (Thông tin Phòng/Ban)
df1 = pd.DataFrame({
    'Nhân viên': ['Bình', 'Minh', 'Lan', 'Văn'],
    'Phòng/Ban': ['Kế toán', 'Kỹ thuật', 'Kỹ thuật', 'HCQT']
})

# DataFrame 2 (Thông tin Năm gia nhập)
df2 = pd.DataFrame({
    'Nhân viên': ['Bình', 'Minh', 'Lan', 'Văn'],
    'Năm': [2020, 2018, 2004, 2011]
})

# Thực hiện ghép (Merge)
# Mặc định, pd.merge sẽ ghép theo các cột có tên trùng nhau ('Nhân viên') và kiểu ghép là 'inner' (one-to-one trong trường hợp này)
df_merged = pd.merge(df1, df2) 

print("DataFrame df1:")
print(df1)
print("\nDataFrame df2:")
print(df2)
print("\nKết quả sau khi ghép (df_merged):")
print(df_merged)

b) kết nối 1 nhiều , nhiều 1

In [16]:
import pandas as pd

# Ví dụ 4.7.2.2 — One-to-many (Phòng/Ban → nhiều Nhân viên)

# 1. Tạo DataFrame 'quanly' (Bảng "Một" - One-side)
# Đây là bảng chứa thông tin quản lý cho mỗi Phòng/Ban.
quanly = pd.DataFrame({
    # Cột khóa chung để ghép: 'Phòng/Ban'
    'Phòng/Ban': ['Kế toán', 'Kỹ thuật', 'HCQT'],
    'Quản lý': ['Ly', 'Cường', 'Minh']
})

# 2. Hiển thị DataFrame 'quanly' (Kết quả [Out] trong ảnh)
# print(quanly)
#   Phòng/Ban Quản lý
# 0  Kế toán      Ly
# 1  Kỹ thuật    Cường
# 2  HCQT       Minh

----------------------------------------------------

---------------------------------

4728

In [17]:
nv_location = pd.DataFrame({
    'Nhân viên': ['Bình', 'Minh', 'Lan', 'Văn'],
    'Nơi sinh': ['Hà Nội', 'Hải Phòng', 'Nam Định', 'Đà Nẵng']
})

nv_age = pd.DataFrame({
    'Nhân viên': ['Bình', 'Lan', 'Văn', 'Hà'],
    'Tuổi': [28, 25, 30, 27]
})

nv_location

  Nhân viên   Nơi sinh
0      Bình     Hà Nội
1      Minh  Hải Phòng
2       Lan   Nam Định
3       Văn    Đà Nẵng

In [18]:
nv_location

  Nhân viên   Nơi sinh
0      Bình     Hà Nội
1      Minh  Hải Phòng
2       Lan   Nam Định
3       Văn    Đà Nẵng

In [19]:
nv_age

  Nhân viên  Tuổi
0      Bình    28
1       Lan    25
2       Văn    30
3        Hà    27

In [21]:
inner = pd.merge(nv_location, nv_age, on = 'nhân viên',how = 'outer')
print('outer')
display(inner)

KeyError: 'nhân viên'

inner là lấy chỉ lấy những phần còn thiếu bỏ
outer thì lấy tất cả