In [1]:
import pandas as pd 
pd.__version__

'2.3.3'

Ví dụ 4.3.2.1

In [2]:
import pandas as pd 
data = pd.Series([1.0, 0.25, 6.0, 0.75]) 
data

0    1.00
1    0.25
2    6.00
3    0.75
dtype: float64

Ví dụ 4.3.2.2. tạo một đối tượng từ điển (dictionary) Python để lưu trữ số liệu dân số
 các tỉnh, sau đó tạo một đối tượng Series từ đối tượng từ điển như sau:

In [5]:
import pandas as pd 
population_dict = {'Hà Nội':8330830, 
'Quảng Ninh':1358085, 
'Nam Định': 1836270, 
'Đà Nẵng':1195490, 
'TP.Hồ Chí Minh':9411805} 
population = pd.Series(population_dict, name='dân số tỉnh thành phố') 
print(population)

Hà Nội            8330830
Quảng Ninh        1358085
Nam Định          1836270
Đà Nẵng           1195490
TP.Hồ Chí Minh    9411805
Name: dân số tỉnh thành phố, dtype: int64

In [6]:
population['Hà Nội']

np.int64(8330830)

In [7]:
population[:3]

Hà Nội        8330830
Quảng Ninh    1358085
Nam Định      1836270
Name: dân số tỉnh thành phố, dtype: int64

tạo series dữ liệu

In [8]:
area_dict={'Hà Nội':3358.9, 
            'Quảng Ninh':6177.7, 
            'Nam Định':1668.0, 
            'Đà Nẵng':1284.9, 
            'TP.Hồ Chí Minh':2061.0} 
area = pd.Series(area_dict) 
area

Hà Nội            3358.9
Quảng Ninh        6177.7
Nam Định          1668.0
Đà Nẵng           1284.9
TP.Hồ Chí Minh    2061.0
dtype: float64

khu vực

In [9]:
VietNam = pd.DataFrame({'Dân số':population, 'Diện tích':area}) 
VietNam

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358085     6177.7
Nam Định        1836270     1668.0
Đà Nẵng         1195490     1284.9
TP.Hồ Chí Minh  9411805     2061.0

vd 4.3.3.1

In [ ]:
import pandas as pd 
data = {}

In [10]:
import pandas as pd 
Ind=pd.Index([2, 3, 6, 7, 11]) 
Ind[3]=5

TypeError: Index does not support mutable operations

In [11]:
import pandas as pd

# Ví dụ 4.3.4.1 – Tạo và thao tác với Index
idx = pd.Index(['Hà Nội', 'Đà Nẵng', 'TP.Hồ Chí Minh', 'Nam Định'])
print("Index ban đầu:", idx)

# Kiểm tra thuộc tính
print("Tên Index:", idx.name)
print("Độ dài:", len(idx))

# Các phép toán tập hợp
idx1 = pd.Index(['Hà Nội', 'Đà Nẵng', 'Huế'])

print("Hợp (union):", idx.union(idx1))
print("Giao (intersection):", idx.intersection(idx1))
print("Hiệu (difference):", idx.difference(idx1))

Index ban đầu: Index(['Hà Nội', 'Đà Nẵng', 'TP.Hồ Chí Minh', 'Nam Định'], dtype='object')
Tên Index: None
Độ dài: 4
Hợp (union): Index(['Huế', 'Hà Nội', 'Nam Định', 'TP.Hồ Chí Minh', 'Đà Nẵng'], dtype='object')
Giao (intersection): Index(['Hà Nội', 'Đà Nẵng'], dtype='object')
Hiệu (difference): Index(['Nam Định', 'TP.Hồ Chí Minh'], dtype='object')

4.3.4.1

In [12]:
import pandas as pd

# Ví dụ 4.3.4.1 - Tạo và thao tác với Index
idx = pd.Index(['Hà Nội', 'Đà Nẵng', 'TP.Hồ Chí Minh', 'Nam Định'])
print("Index ban đầu:", idx)

# Kiểm tra thuộc tính
print("Tên Index:", idx.name)
print("Độ dài:", len(idx))

# Các phép toán tập hợp
idx1 = pd.Index(['Hà Nội', 'Đà Nẵng', 'Huế'])
print("Hợp (union):", idx.union(idx1))
print("Giao (intersection):", idx.intersection(idx1))
print("Hiệu (difference):", idx.difference(idx1))

Index ban đầu: Index(['Hà Nội', 'Đà Nẵng', 'TP.Hồ Chí Minh', 'Nam Định'], dtype='object')
Tên Index: None
Độ dài: 4
Hợp (union): Index(['Huế', 'Hà Nội', 'Nam Định', 'TP.Hồ Chí Minh', 'Đà Nẵng'], dtype='object')
Giao (intersection): Index(['Hà Nội', 'Đà Nẵng'], dtype='object')
Hiệu (difference): Index(['Nam Định', 'TP.Hồ Chí Minh'], dtype='object')

4.3.4.2

In [13]:
import pandas as pd

indA = pd.Index([0, 2, 4, 6, 8])
indB = pd.Index([1, 3, 7, 8, 9])

print("Index A:", indA)
print("Index B:", indB)

print("Hợp:", indA.union(indB))                 # Hợp (union)
print("Hiệu:", indA.difference(indB))           # Hiệu
print("Giao:", indA.intersection(indB))         # Giao
print("Hiệu đối xứng:", indA.symmetric_difference(indB))  # Hiệu đối xứng
print("A ⊆ B và A = B:", indA.isin(indB))       # Kiểm tra phần tử của A có trong B

Index A: Index([0, 2, 4, 6, 8], dtype='int64')
Index B: Index([1, 3, 7, 8, 9], dtype='int64')
Hợp: Index([0, 1, 2, 3, 4, 6, 7, 8, 9], dtype='int64')
Hiệu: Index([0, 2, 4, 6], dtype='int64')
Giao: Index([8], dtype='int64')
Hiệu đối xứng: Index([0, 1, 2, 3, 4, 6, 7, 9], dtype='int64')
A ⊆ B và A = B: [False False False False  True]

In [14]:
'a' in data

False

In [15]:
data.keys()

RangeIndex(start=0, stop=4, step=1)

In [16]:
data.values

array([1.  , 0.25, 6.  , 0.75])

In [17]:
list(data.items())

[(0, 1.0), (1, 0.25), (2, 6.0), (3, 0.75)]

mở rộng

In [18]:
data['e']=9.99 
data

0    1.00
1    0.25
2    6.00
3    0.75
e    9.99
dtype: float64

Arraymasking(tiếp,...)
Vídụ4.4.1.4

In [19]:
#Masking 
mask=(data>1)&(data<4) 
mask

0    False
1    False
2    False
3    False
e    False
dtype: bool

 Vídụ4.4.1.5.

In [ ]:
indices_1=['b','d']       #explicit index 
selection_1 = data[indices_1] 
selection_1 



indices_2=[1,3]           #implicit index 
selection_2=data[indices_2] 
selection_2

KeyError: "None of [Index(['b', 'd'], dtype='object')] are in the [index]"

 Ví dụ 4.4.1.6.

In [22]:
import pandas as pd 
data = pd.Series(['a','b','c','d','e'],index=[1,3,5,6,7]) 
data

1    a
3    b
5    c
6    d
7    e
dtype: object

In [ ]:
data[1] #explicit index khi dùng chỉ mục chỉ số từ định nghĩa

'a'

In [ ]:
data[1:3]  #implicit index khi cắt slicing đếm từ vị trí 0

3    b
5    c
dtype: object

4.4.2.DataSelection và Indexing trong DataFrame

In [25]:
import pandas as pd 
population = pd.Series({'Hà Nội':8330830, 
                        'Quảng Ninh':1358490, 
                        'Nam Định': 1771000, 
                        'Đà Nẵng':1191381, 
                        'TP.Hồ Chí Minh':9411805}) 
area=pd.Series({'Hà Nội':3358.9, 
                 'Quảng Ninh':6177.7, 
                 'Nam Định': 1668.0, 
                 'Đà Nẵng':1284.9, 
                 'TP.Hồ Chí Minh':2061.0}) 
data = pd.DataFrame({'Dân số':population, 'Diện tích':area}) 
data

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358490     6177.7
Nam Định        1771000     1668.0
Đà Nẵng         1191381     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [1]:
data['mật độ'] = data['dân số']/data['diện tích']

NameError: name 'data' is not defined

In [27]:
data[0:2]

             Dân số  Diện tích
Hà Nội      8330830     3358.9
Quảng Ninh  1358490     6177.7

4.4.3